/*登录头部开始*/
.container .header {
    background: #4EABE8;
}
.container .header .return-c {
    width: calc(100% - 6.4rem);
}
/*登录头部结束*/
/*登录页开始*/
.container .main .login {
    padding: 1.5rem 1.2rem;
}
.container .main .login .import input {
    padding-left: .6rem;
    border: .1rem solid #D1D1D1;
    border-radius: .5rem;
    line-height: 4.2rem;
    margin: 1.5rem 0;
    color: #8A8A8A;
    width: 100%;
}
.container .main .login .import1 {
    position: relative;
}
.container .main .login .import span {
    background: url(../images/u_s1.png) no-repeat;
    background-size: 5.1rem 3.4rem;
    width: 5.1rem;
    height: 3.4rem;
    position: absolute;
    top: 2.1rem;
    right: 1rem;
}
.container .main .login .auto-login .avoid-log {
    background: url(../images/icon.png) no-repeat -3.4rem -1.6rem;
    background-size: 10rem 6.62rem;
    width: 1.7rem;
    height: 1.7rem;
    vertical-align: middle;
}
.container .main .login .auto-login .avoid-loger {
    background: url(../images/icon.png) no-repeat -1.7rem -1.6rem;
    background-size: 10rem 6.62rem;
    width: 1.7rem;
    height: 1.7rem;
    vertical-align: middle;
}
.container .main .login .user-login {
    width: 90%;
    margin-left: 5%;
}
.container .main .login .user-login input {
    width: 100%;
    color: #fff;
    height: 4rem;
    background: #4EABE8;
    text-align: center;
    border-radius: .5rem;
    cursor: pointer;.container .main .login
}
.container .main .login .user-login a {
    width: 100%;
    color: #fff;
    height: 4rem;
    line-height: 4rem;
    background: #DE3B8A;
    text-align: center;
    border-radius: .5rem;
}
.container .main .login .login-way a {
    background: url(../images/login_qq.png) no-repeat;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    margin-top: 1.5rem;
}
/*登录页结束*/