/*注册成功头部开始*/
.container .header {
    background: #4EABE8;
}
.container .header .return-c {
    width: calc(100% - 6.4rem);
}
/*注册成功头部结束*/
/*注册成功开始*/
.container .main .register-ok {
    /*margin-bottom: 1.2rem;*/
    padding: 1.4rem 0;
}
.container .main .register-ok div {
    background: url(../images/iconfont-iconxianluyudingchenggong.png) no-repeat;
    width: 10%;
    background-size: 6.4rem 6.4rem;
    padding: 3.18rem;
    margin: auto;
}
.container .main .register-ok p {
    text-align: center;
    padding: 1rem 0;
}
.container .main .register-ok p:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    color: #F23436;
}
.container .main .register-ok p:nth-child(5) {
    background: #F23436;
    font-size: 1.5rem;
    width: 44%;
    color: #fff;
    margin:auto;
}
/*注册成功结束*/